.column {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5vh;
  width: 100%;
  right: 3px;
  padding: 0 35px;
  justify-content: center;
  transform: translate(1%);
}

.column img {
  margin-top: 35px;
  margin-bottom: 10px;
  width: 13vh;
  height: 14vh;
  filter: sepia(80%);
  transition: all 0.3s ease;
}

.column img:hover {
  cursor: pointer;
  filter: sepia(30%);
  box-shadow: 0 0 10px #00241b;
  transform: scale(1.1);
}

.rnovaimg {
  height: 13.7vh;
}

.hidden {
  visibility: hidden;
}

.overlay {
  display: flex;
  position: relative;
  width: 100vw;
  height: 52.2vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100000;
  justify-content: center;
  align-items: center;
}

.overlay .slideshow {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(187, 206, 187, 0.5);
  color: var(--dark_cyan_color);
  width: 90%;
  height: 90%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
}

.text_img_description {
  margin-left: 3vh;
  margin-right: 3vh;
  border-radius: 2vh;
  font-size: 12px;
  text-align: center;
  color: var(--dark_cyan_color);
  background-color: var(--aquamarine_color);
  opacity: 80%;
  padding: 1em;
}

.slideshow img {
  padding: 20px;
  object-fit: contain;
}

.btn_close {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 40px;
  bottom: 5px;
  margin: 0 120px;
  transition: all 0.2s ease;
  color: var(--aquamarine_color);
  border: 4px solid var(--white_color);
  background-color: var(--dark_cyan_color);
}

.btn_close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button {
  width: 70px;
  height: 70px;
  color: var(--dark_cyan_color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (min-width: 1491px) and (max-width: 2100px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 45% 0 40%;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 150px;
    margin: 0 600px;
  }
}

@media screen and (min-width: 1381px) and (max-width: 1490px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 45% 0 40%;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 120px;
    margin: 0 500px;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1380px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 45% 0 40%;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 85px;
    margin: 0 500px;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1140px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 90%;
    padding: 0 48%;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 75px;
    margin: 0 350px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1080px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 35px;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
    transform: translate(5%);
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 75px;
    margin: 0 350px;
  }
}

@media screen and (min-width: 620px) and (max-width: 800px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 35px;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
    justify-content: center;
    left: 10%;
    transform: translate(2.5%);
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 60px;
    margin: 0 190px;
  }
}

@media screen and (min-width: 571px) and (max-width: 619px) {
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
    padding: 0 35px;
    margin-top: 15vh;
    margin-bottom: 7.2vh;
    justify-content: center;
    left: 12%;
    transform: translate(2.5%);
  }
  .column img {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 16vh;
    height: 90%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 50px;
    margin: 0 190px;
  }
}

@media screen and (min-width: 450px) and (max-width: 570px) {
  .column img {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 100%;
    height: 80%;
    filter: sepia(80%);
    transition: all 0.3s ease;
  }

  .btn_close {
    height: 40px;
    margin: 0 120px;
  }
}
